<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aic.loveaichuang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activity.InitialActivity"
            android:label="@string/title_activity_initial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.RegisterAiChuangActivity"
            android:label="@string/title_activity_register_ai_chuang" >
        </activity>
        <activity
            android:name="com.aic.loveaichuang.activity.ZxingActivity"
            android:label="@string/title_activity_zxing" >
        </activity>
        <activity
            android:name="com.aic.loveaichuang.zxing.activity.CaptureActivity"
            android:label="@string/title_activity_zxing" >
        </activity>
        <activity
            android:name="com.aic.loveaichuang.chat.ChatActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
    </application>

</manifest>